
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Hong Kong Disneyland</title> 
    </head>
<body>
<table frame="box" width="80%" height="80%" border="2" background='https://img.tukuppt.com/bg_grid/00/12/80/xNzKweGhCg.jpg!/fh/350' align="center">
    <caption font-weight="bold">Hong Kong Disneyland</caption>
  <tr>
    <th align="center">Place to visit</th>
    <th align="center">Disneyland,Hong Kong </th>
  </tr>
  <tr>
    <td align="center">Location:</td>
    <td align="center">Hong Kong</td>
  </tr>
  <tr>
    <td align="center">Resort Name:</td>
    <td align="center">Hong Kong Disneyland</td>
  </tr>
  <tr>
    <td align="center">More Information:</td>
    <td align="center"><a href=https://www.hongkongdisneyland.com/zh-hk/>Hong Kong Disneyland</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><img src='https://www.discoverhongkong.com/content/dam/dhk/intl/explore/attractions/the-ultimate-guide-to-hong-kong-disneyland/disney-shows-performances-960x720-a.jpg'/ width=“500”></td>
  </tr>
</table>
